### macOS ###
.DS_Store

### Terraform ###
.terraform
*.tfvars
terraform.tfstate
terraform.tfstate.backup
infra/.DS_Store

### Terragrunt ###
.terragrunt-cache
.terragrunt-debug.tfvars
.terragrunt.hcl

### Secrets ###
secrets.auto.tfvars
