name: Drift Detection - Production

on:
  schedule:
    - cron: '0 */6 * * *' # Runs every 6 hours

jobs:
  prod-drift:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Let other stacks finish even if one fails.
      matrix:
        region:
          - eu-central-1
          - eu-west-1

    permissions:
      id-token: write
      contents: read
      pull-requests: read
      checks: read

    env:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      GITHUB_TOKEN: ${{ github.token }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Infrastructure Tools
        uses: ./.github/actions/setup-infra-tools
        with:
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
          aws-region: us-east-1

      - name: Authenticate with AWS
        uses: ./.github/actions/setup-aws
        with:
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
          aws-region: us-east-1

      - name: Initialize Terragrunt
        id: init
        run: |
          terramate run \
           --parallel 1 \
           -- \
           terragrunt init --non-interactive -lock-timeout=5m

      # To avoid error due to uncommitted files from previous steps
      - name: Check for uncommitted files
        run: |
          git add .
          git diff --cached --exit-code || echo "Found uncommitted files, but continuing..."

      - name: Run drift detection
        id: drift
        run: |
          terramate run \
            --parallel 12 \
            --sync-drift-status \
            --continue-on-error \
            --tags environment:prod,region:${{ matrix.region }} \
            --terraform-plan-file=drift.tfplan \
            --terragrunt \
            -- \
            terragrunt plan -out drift.tfplan -detailed-exitcode -lock=false
