name: Drift Detection - QA

on:
  schedule:
    - cron: '0 2,14 * * *' # Runs daily at 2 AM and 2 PM UTC

jobs:
  qa-drift:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Let other stacks finish even if one fails.
      matrix:
        region:
          - eu-south-1
          - eu-west-2

    permissions:
      id-token: write
      contents: read
      pull-requests: read
      checks: read

    env:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      GITHUB_TOKEN: ${{ github.token }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Install Terramate
        uses: terramate-io/terramate-action@v3
        with:
          version: "0.14.0"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.8"

      - name: Setup Terragrunt
        uses: autero1/action-terragrunt@v3
        with:
          terragrunt-version: 0.83.2
          token: ${{ github.token }}

      - name: Configure AWS credentials via OIDC
        id: auth
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/GitHubActions-TerramateRole

      - name: Initialize Terragrunt
        id: init
        run: |
          terramate run \
           --parallel 1 \
           -- \
           terragrunt init --non-interactive -lock-timeout=5m

      # To avoid error due to uncommitted files from previous steps
      - name: Check for uncommitted files
        run: |
          git add .
          git diff --cached --exit-code || echo "Found uncommitted files, but continuing..."

      - name: Run drift detection
        id: drift
        run: |
          terramate run \
            --parallel 8 \
            --sync-drift-status \
            --continue-on-error \
            --tags environment:qa,region:${{ matrix.region }} \
            --terraform-plan-file=drift.tfplan \
            --terragrunt \
            -- \
            terragrunt plan -out drift.tfplan -detailed-exitcode -lock=false
