# https://terramate.io/docs/cli/automation/github-actions/preview-workflow
name: Infra Changes Preview

on:
  pull_request:

jobs:
  preview:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      pull-requests: write
      checks: read

    env:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      GITHUB_TOKEN: ${{ github.token }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Infrastructure Tools
        uses: ./.github/actions/setup-infra-tools
        with:
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
          aws-region: us-east-1

      - name: Authenticate with AWS
        uses: ./.github/actions/setup-aws
        with:
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
          aws-region: us-east-1

      - name: Check Terramate formatting
        run: terramate fmt --check

      - name: Check Terragrunt formatting
        run: terramate run -- terragrunt run -- fmt

      - name: List changed stacks
        id: list
        run: terramate list --changed

      # To avoid error due to uncommitted files from previous steps
      - name: Check for uncommitted files
        run: |
          git add .
          git diff --cached --exit-code || echo "Found uncommitted files, but continuing..."

      - name: Initialize Terragrunt in changed stacks
        if: steps.list.outputs.stdout
        id: init
        run: |
          terramate run \
           --parallel 1 \
           --changed \
           -- \
           terragrunt init -lock-timeout=5m

      - name: Validate Terragrunt configuration in changed stacks
        if: steps.list.outputs.stdout
        id: validate
        run: |
          terramate run \
            --parallel 5 \
            --changed \
            -- \
            terragrunt validate

      - name: Plan Terragrunt changes in changed stacks
        if: steps.list.outputs.stdout
        id: plan
        run: |
          terramate run \
            --parallel 5 \
            --changed \
            --sync-preview \
            --terraform-plan-file=out.tfplan \
            --terragrunt \
            --continue-on-error \
            -- \
            terragrunt plan -out out.tfplan -detailed-exitcode -lock=false
