# https://terramate.io/docs/cli/automation/github-actions/deployment-workflow
name: Provision Infrastructure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      pull-requests: read
      checks: read

    env:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      GITHUB_TOKEN: ${{ github.token }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Infrastructure Tools
        uses: ./.github/actions/setup-infra-tools
        with:
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
          aws-region: us-east-1

      - name: Authenticate with AWS
        uses: ./.github/actions/setup-aws
        with:
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
          aws-region: us-east-1

      - name: List changed stacks
        id: list
        run: terramate list --changed

      - name: Run Terragrunt init in each changed stacks
        if: steps.list.outputs.stdout
        id: init
        run: |
          terramate run \
            --parallel 1 \
            --changed \
            -- \
            terragrunt init

      # To avoid error due to uncommitted files from previous steps
      - name: Check for uncommitted files
        run: |
          git add .
          git diff --cached --exit-code || echo "Found uncommitted files, but continuing..."

      - name: Create Terragrunt plan on changed stacks
        if: steps.list.outputs.stdout
        id: plan
        run: |
          terramate run \
            --parallel 5 \
            --changed \
            -- \
            terragrunt plan -lock-timeout=5m -out out.tfplan

      - name: Apply planned changes on changed stacks
        if: steps.list.outputs.stdout
        id: apply
        run: |
          terramate run \
            --parallel 5 \
            --changed \
            --sync-deployment \
            --terraform-plan-file=out.tfplan \
            --terragrunt \
            -- \
            terragrunt apply -input=false -auto-approve -lock-timeout=5m out.tfplan

      - name: Run drift detection
        if: steps.list.outputs.stdout && ! cancelled() && steps.apply.outcome != 'skipped'
        id: drift
        run: |
          terramate run \
            --parallel 5 \
            --changed \
            --sync-drift-status \
            --continue-on-error \
            --terraform-plan-file=drift.tfplan \
            --terragrunt \
            -- \
            terragrunt plan -out drift.tfplan -detailed-exitcode
